* {
  box-sizing: border-box;
}

html{
  height: 100%;
  
}

body{
  height: 100%;
  background: green;
}

.container-fluid, .container {
  display: flex;
  justify-content: center;
}

p {
  margin: 0;
}

.jeu {
  
  transform: rotate(-90deg);
  width: 300px;
  margin-left: 8rem;
  display: flex;  
  justify-content: center;
  .odd-even {
    display: flex;
    flex-direction: column;
    margin-top: 34px;
    width: 50px;
    font-weight: bold;
    p {
      border: 1px solid lightgrey;
      border-radius: 50%;
      min-width: 80px;
      color: white;
      padding: 5px;
      transform: rotate(90deg);
    }
  }
  
  .odd, .even, .reds, .blacks {
    flex-basis: 25%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    box-shadow: 2px 0 0 0 lightgrey,  0 2px 0 0 lightgrey,  2px 2px 0 0 lightgrey, 2px 0 0 0 lightgrey inset,  0 2px 0 0 lightgrey inset;
    cursor: pointer;
  }
  
  .square {
    border: 1px solid lightgrey;
    transform: rotate(45deg);
    width: 35px;
    height: 35px;
  }
  
  .reds .square {
    background: red;
  }
  
  .blacks .square {
    background: black;
  }
  
  .odd {
    border-top-left-radius: 15px;
  }
  
  .even {
    border-bottom-left-radius: 15px;
  }
  
  .odd:hover, .even:hover, .reds:hover, .blacks:hover {
    background: #004d00 !important;
  }
  
  .numbers {
    display: flex;
    flex-wrap: wrap;
    width: 150px;
    color: white;
    cursor: pointer;
  }
  
  .number {
    flex-basis: 33.33334%;
    text-align: center;
    padding: 5px;
    box-shadow: 2px 0 0 0 lightgrey,  0 2px 0 0 lightgrey,  2px 2px 0 0 lightgrey, 2px 0 0 0 lightgrey inset,  0 2px 0 0 lightgrey inset;
  }
  
  .number:first-of-type {
    flex-basis: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }
  
  .red:hover {
    color: yellow;
    background: #990000 !important;
  }
  
  .green:hover {
    color: yellow;
    background: #004d00 !important;
  }
  
  .black:hover {
    color: yellow;
    background: #333333 !important;
  }
}



.roulette {
  display: flex;
  justify-content: center;
  align-items: center;
  img{
    width: 300px;
  }
}

.rotated {
  animation: rotate 0.4s linear forwards;
  animation-iteration-count: 7.5;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}


.money{
  justify-content: space-around;
  font-family: 'Comfortaa', cursive;
  font-weight: bold;
}